[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-debugtoolbar = "*"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-dropzone = "*"
pandas = "*"
flask-moment = "*"
python-dotenv = "*"
pymysql = "*"
jinja2 = "*"
xlrd = "*"
flask-migrate = "*"
bootstrap-flask = "*"
werkzeug = "*"
numpy = "*"
opencv-python = "*"
pillow = "*"
zipfile = "*"

[requires]
python_version = "3.7"
