[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-dropzone = "*"
pandas = "*"
flask-moment = "*"
flask-dotenv = "*"
python-dotenv = "*"
flask-bootstrap = "*"
pymysql = "*"

[requires]
python_version = "3.6"
